/demo1/新建文本文档.txt
/demo1/Assembly-CSharp.csproj
/demo1/Assembly-CSharp-Editor.csproj
/demo1/demo1.csproj
/demo1/demo1.Editor.csproj
/demo1/demo1.sln
/demo1/demo1.VC.db
/demo1/.vs
/demo1/Debug
/demo1/Library
/demo1/obj
/demo1/Packages
/demo1/UnityPackageManager
